## Sreeja Katanguri U89168040

## 1.0 Import and install python libraries

In [1]:
# import numpy and pandas libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer

## 2.0 Set Random Seed

In [2]:
np.random.seed(1)

## 3.0 Load data

In [3]:
# load data
airbnb = pd.read_csv("airbnb.csv")

## 4.0 Conduct initial exploration of the data

In [4]:
airbnb.head(3)

,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,...,guests_included,price_per_extra_person,minimum_nights,number_of_reviews,number_days_btw_first_last_review,review_scores_rating,cancellation_policy,price,price_gte_150,price_category
0,0,0,Roslindale,42.282619,-71.133068,House,Entire home/apt,4,1.5,2.0,...,1,0,2,0,0,NaN,moderate,250,1,gte_226
1,0,1,Roslindale,42.286241,-71.134374,Apartment,Private room,2,1.0,1.0,...,0,0,2,36,804,94.0,moderate,65,0,lte_$75
2,1,1,Roslindale,42.292438,-71.135765,Apartment,Private room,2,1.0,1.0,...,1,20,3,41,2574,98.0,moderate,65,0,lte_$75

In [5]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   host_is_superhost                  3555 non-null   int64
 1   host_identity_verified             3555 non-null   int64
 2   neighbourhood_cleansed             3555 non-null   object
 3   latitude                           3555 non-null   float64
 4   longitude                          3555 non-null   float64
 5   property_type                      3552 non-null   object
 6   room_type                          3555 non-null   object
 7   accommodates                       3555 non-null   int64
 8   bathrooms                          3541 non-null   float64
 9   bedrooms                           3545 non-null   float64
 10  beds                               3546 non-null   float64
 11  bed_type                           3555 non-null   object
 12  Number of amenities                3555 non-null   int64
 13  guests_included                    3555 non-null   int64
 14  price_per_extra_person             3555 non-null   int64
 15  minimum_nights                     3555 non-null   int64
 16  number_of_reviews                  3555 non-null   int64
 17  number_days_btw_first_last_review  3555 non-null   int64
 18  review_scores_rating               2755 non-null   float64
 19  cancellation_policy                3555 non-null   object
 20  price                              3555 non-null   int64
 21  price_gte_150                      3555 non-null   int64
 22  price_category                     3555 non-null   object
dtypes: float64(6), int64(11), object(6)
memory usage: 638.9+ KB

In [6]:
airbnb.isna().sum()

host_is_superhost                      0
host_identity_verified                 0
neighbourhood_cleansed                 0
latitude                               0
longitude                              0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
Number of amenities                    0
guests_included                        0
price_per_extra_person                 0
minimum_nights                         0
number_of_reviews                      0
number_days_btw_first_last_review      0
review_scores_rating                 800
cancellation_policy                    0
price                                  0
price_gte_150                          0
price_category                         0
dtype: int64

In [7]:
category_var_list = list(airbnb.select_dtypes(include='object').columns)
category_var_list

['neighbourhood_cleansed',
 'property_type',
 'room_type',
 'bed_type',
 'cancellation_policy',
 'price_category']

In [8]:
for cat in category_var_list:
    print(f"Category: {cat} Values: {airbnb[cat].unique()}")

Category: neighbourhood_cleansed Values: ['Roslindale' 'Jamaica Plain' 'Mission Hill' 'Longwood Medical Area'
 'Bay Village' 'Leather District' 'Chinatown' 'North End' 'Roxbury'
 'South End' 'Back Bay' 'East Boston' 'Charlestown' 'West End'
 'Beacon Hill' 'Downtown' 'Fenway' 'Brighton' 'West Roxbury' 'Hyde Park'
 'Mattapan' 'Dorchester' 'South Boston Waterfront' 'South Boston'
 'Allston']
Category: property_type Values: ['House' 'Apartment' 'Condominium' 'Villa' 'Bed & Breakfast' 'Townhouse'
 'Entire Floor' 'Loft' 'Guesthouse' 'Boat' 'Dorm' 'Other' nan 'Camper/RV']
Category: room_type Values: ['Entire home/apt' 'Private room' 'Shared room']
Category: bed_type Values: ['Real Bed' 'Pull-out Sofa' 'Futon' 'Airbed' 'Couch']
Category: cancellation_policy Values: ['moderate' 'flexible' 'strict' 'super_strict_30']
Category: price_category Values: ['gte_226' 'lte_$75' 'btw_$75-$150' 'btw_$151-$225']

## 5.0 Process the data

In [9]:
airbnb.drop(['price_category', 'price_gte_150'], axis=1, inplace = True)

In [10]:
airbnb['property_type'].isna().sum()

3

In [11]:
airbnb["property_type"].fillna("unkown", inplace = True)

In [12]:
airbnb['neighbourhood_cleansed'].isna().sum()

0

In [13]:
airbnb['room_type'].isna().sum()

0

In [14]:
airbnb['bed_type'].isna().sum()

0

In [15]:
airbnb['cancellation_policy'].isna().sum()

0

In [16]:
ohe=OneHotEncoder()
ohe_data=pd.DataFrame(ohe.fit_transform(airbnb[['neighbourhood_cleansed','property_type','cancellation_policy']]).toarray())
airbnb=airbnb.join(ohe_data)
airbnb.drop('neighbourhood_cleansed', axis=1, inplace = True)
airbnb.drop('property_type', axis=1, inplace = True)
airbnb.drop('cancellation_policy', axis=1, inplace = True)

In [17]:
#dummies_df = pd.get_dummies(airbnb['neighbourhood_cleansed'], prefix='neighbourhood_cleansed', drop_first=False)
#airbnb = airbnb.join(dummies_df)
#airbnb.drop('neighbourhood_cleansed', axis=1, inplace = True)

In [18]:
#airbnb = airbnb.join(pd.get_dummies(airbnb['property_type'], prefix='property_type', drop_first=True))
#airbnb.drop('property_type', axis=1, inplace = True)

In [19]:
labelencoder = LabelEncoder()
airbnb['room_type'] = labelencoder.fit_transform(airbnb['room_type'])
airbnb['bed_type'] = labelencoder.fit_transform(airbnb['bed_type'])
#airbnb['cancellation_policy'] = onehotencoder.fit_transform(airbnb['cancellation_policy'])

In [20]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 61 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   host_is_superhost                  3555 non-null   int64
 1   host_identity_verified             3555 non-null   int64
 2   latitude                           3555 non-null   float64
 3   longitude                          3555 non-null   float64
 4   room_type                          3555 non-null   int32
 5   accommodates                       3555 non-null   int64
 6   bathrooms                          3541 non-null   float64
 7   bedrooms                           3545 non-null   float64
 8   beds                               3546 non-null   float64
 9   bed_type                           3555 non-null   int32
 10  Number of amenities                3555 non-null   int64
 11  guests_included                    3555 non-null   int64
 12  price_per_extra_person             3555 non-null   int64
 13  minimum_nights                     3555 non-null   int64
 14  number_of_reviews                  3555 non-null   int64
 15  number_days_btw_first_last_review  3555 non-null   int64
 16  review_scores_rating               2755 non-null   float64
 17  price                              3555 non-null   int64
 18  0                                  3555 non-null   float64
 19  1                                  3555 non-null   float64
 20  2                                  3555 non-null   float64
 21  3                                  3555 non-null   float64
 22  4                                  3555 non-null   float64
 23  5                                  3555 non-null   float64
 24  6                                  3555 non-null   float64
 25  7                                  3555 non-null   float64
 26  8                                  3555 non-null   float64
 27  9                                  3555 non-null   float64
 28  10                                 3555 non-null   float64
 29  11                                 3555 non-null   float64
 30  12                                 3555 non-null   float64
 31  13                                 3555 non-null   float64
 32  14                                 3555 non-null   float64
 33  15                                 3555 non-null   float64
 34  16                                 3555 non-null   float64
 35  17                                 3555 non-null   float64
 36  18                                 3555 non-null   float64
 37  19                                 3555 non-null   float64
 38  20                                 3555 non-null   float64
 39  21                                 3555 non-null   float64
 40  22                                 3555 non-null   float64
 41  23                                 3555 non-null   float64
 42  24                                 3555 non-null   float64
 43  25                                 3555 non-null   float64
 44  26                                 3555 non-null   float64
 45  27                                 3555 non-null   float64
 46  28                                 3555 non-null   float64
 47  29                                 3555 non-null   float64
 48  30                                 3555 non-null   float64
 49  31                                 3555 non-null   float64
 50  32                                 3555 non-null   float64
 51  33                                 3555 non-null   float64
 52  34                                 3555 non-null   float64
 53  35                                 3555 non-null   float64
 54  36                                 3555 non-null   float64
 55  37                                 3555 non-null   float64
 56  38                                 3555 non-null   float64
 57  39                                 3555 non-null   float64
 58  40                                 3555 non-null   float64
 59  41                                 3555 non-null   float64
 60  42                                 3555 non-null   float64
dtypes: float64(49), int32(2), int64(10)
memory usage: 1.6 MB

## Split data (train/test)

In [21]:
# split the data into validation and training set
train_df, test_df = train_test_split(airbnb, test_size=0.3)

target = 'price'
predictors = list(airbnb.columns)
predictors.remove(target)

In [22]:
numeric_cols_with_nas = list(train_df.isna().sum()[train_df.isna().sum() > 0].index)
numeric_cols_with_nas

['bathrooms', 'bedrooms', 'beds', 'review_scores_rating']

In [23]:
imputer = SimpleImputer(strategy="median")

train_df[numeric_cols_with_nas] = imputer.fit_transform(train_df[numeric_cols_with_nas])
test_df[numeric_cols_with_nas] = imputer.transform(test_df[numeric_cols_with_nas])

In [24]:
scaler = preprocessing.StandardScaler()
cols_to_stdize = ['latitude', 'longitude', 'accommodates', 
                   'bathrooms', 'bedrooms', 'beds', 'Number of amenities', 
                   'guests_included', 'price_per_extra_person', 'minimum_nights', 
                   'number_of_reviews', 'number_days_btw_first_last_review', 
                   'review_scores_rating']                
               

train_df[cols_to_stdize] = scaler.fit_transform(train_df[cols_to_stdize]) 


test_df[cols_to_stdize] = scaler.transform(test_df[cols_to_stdize])

## 6.0 Save the data

In [25]:
train_X = train_df[predictors]
train_y = train_df[target] # train_target is now a series objecttrain_df.to_csv('airbnb_train_df.csv', index=False)
test_X = train_df[predictors]
test_y = test_df[target] # validation_target is now a series object

train_df.to_csv('airbnb_train_df.csv', index=False)
train_X.to_csv('airbnb_train_X.csv', index=False)
train_y.to_csv('airbnb_train_y.csv', index=False)
test_df.to_csv('airbnb_test_df.csv', index=False)
test_X.to_csv('airbnb_test_X.csv', index=False)
test_y.to_csv('airbnb_test_y.csv', index=False)